<!doctype html>


<!--{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}-->
<h1>List of Users:</h1>
<ul>

<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>

{% if users %}

    <ul>
    {% for user in users %}
        <li><form method="post" action="{{ url_for('add_friends', value=user[0])}}">{{user[1]}} {{user[2]}}</br><input type="submit" value="Add as Friend"></form></li>
    {% endfor %}
    </ul>
{% endif %}

<!-- <form method="post" action="{{ url_for('register_user') }}">
                <label for="F_ame">Enter your First Name:</label>
                <input type="text" name="F_ame" /><br />
                <label for="L_ame">Enter your Last Name:</label>
                <input type="text" name="F_ame" /><br />
                <label for="email">Enter your email:</label>
                <input type="email" name="email" /><br />
                <label for="password">Enter password:</label>
                <input type="password" name="password" /><br />
                <label for="DOB">Enter your DOB:</label>
                <input type="date" name="DOB" /><br />
                <label for="Home_town">Enter your home town:</label>
                <input type="text" name="Home_town" /><br />
                <label for="Gender">Gender:</label>
                <input type="radio" name="Gender" value="M" />Male<br />
                <input type="radio" name="Gender" value="F" />Female<br />
                <input type="radio" name="Gender" value="O" />Other<br />
                <input type="submit" />
            </form> -->