<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="{{url_for('upload_file',value2=albumid)}}">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <label for="tags">Please enter tags:</label>
                <input type="text" name="tags" /><br />
                <input type="submit" value="Upload" />
            </form>
            <form method="post" action="{{url_for('tag_recommendations')}}">
                <label for="tags">Enter two tags to generate recommendation:</label>
                <input type="text" name="tags" /><br />
                <input type="submit" value="Generate Recommendations"></form>
            {% if tagrecommendations %}
            <ul>
            {% for tagrecommendation in tagrecommendations %}
            <li>{{tagrecommendation}}</li>
            {% endfor %}
            {% endif %}
    </body>
